@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.card-container-blockchaininc {
    width: 382px;
    height: 241px;
    border-radius: 8px;
    background-color: #8B58F9;
    display: flex;
    flex-direction: column;
    font-family: 'PT Mono';
    font-style: normal;
    letter-spacing: 0.03em;
    align-self: flex-start;
    border: 1px solid #000000;
    border-radius: 8px;
}

.card-container-evilcorp {
    width: 382px;
    height: 241px;
    border-radius: 8px;
    background-color: #F33355;
    display: flex;
    flex-direction: column;
    font-family: 'PT Mono';
    font-style: normal;
    background: linear-gradient(248.3deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 100%), #F33355;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    border: 1px solid #000000;
    border-radius: 8px;
}

.card-container-ninjabank {
    width: 382px;
    height: 241px;
    border-radius: 8px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    font-family: 'PT Mono';
    font-style: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px;
}

.card-container-bitcoininc {
    width: 382px;
    height: 241px;
    border-radius: 8px;
    background-color: #FFAE34;
    display: flex;
    flex-direction: column;
    font-family: 'PT Mono';
    font-style: normal;
    letter-spacing: 0.03em;
    border: 1px solid #000000;
    border-radius: 8px;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    width: 380px;
    column-gap: 270px;
    padding-left: 15px;
    align-self: flex-start;
}

.card__logo {
    align-self: self-start;
    margin-top: 15px;
}

.card-main {
    height: 55px;
    font-size: 18px;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.Card__holder {
    display: flex;
    flex-direction: row;
    height: 16px;
    align-self: flex-start;
    padding-left: 15px;
    column-gap: 100px;
}

.Card__info {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 32px;
    justify-content: space-between;
    align-self: flex-start;
    padding-left: 15px;
}