.card-container__blockchaininc {
    margin: 0 auto;
    cursor: pointer;
}

.card-container__evilcorp {
    margin: 0 auto;
    cursor: pointer;
}

.card-container__ninjabank {
    margin: 0 auto;
    cursor: pointer;
}

.card-container__bitcoininc {
    margin: 0 auto;
    cursor: pointer;
} 
