.cards-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.add-card__button {
    width: 382px;
    height: 80px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-top: 43px;
    background-color: #FFFFFF;
    font-size: 22px;
    font-family: 'PT Mono';
    font-weight: 700;
}